body {
    background-color: #f2f2f2;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100vh;
}

/* Navbar Styles */
.navbar {
    background-color: #514f4f;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-container {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#loan-info {
    display: none;
    margin-top: 0.5rem;
}

.navbar-text {
    color: #fff;
    font-size: 20px;
    margin: 150px;
}

/* Card Styles */
.card-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin: 2rem;
}

.small-card {
    background-color: #d7dbde;
    border-radius: 10px;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}

.small-card {
    width: 350px;
    height: auto;
}

.big-card {
    background-color: #d7dbde;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    grid-column: span 3;
    height: 20rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#laptop-image-container {
    width: auto;
    height: 15rem;
}

#laptop-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#loan-balance, #bank-balance, #pay-balance, #laptop-price {
    font-size: 1.3rem;
    font-weight: bold;
}

/* Button Styles */
.work-button, .bank-button, .repay-button, .loan-button, .buy-button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

.work-button {
    background-color: #535adc;
    color: #ffffff;
}

.bank-button {
    background-color: #c0d539;
    color: #454040;
}

.repay-button {
    display: none;
    background-color: #ee77f0;
    color: #ffffff;
}

.buy-button {
    background-color: #d83057;
    color: #ffffff;
}

.loan-button {
    background-color: #58c663;
    color: #454040;
}

.space {
    flex-grow: 1;
}

.row-wrapper, .button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5rem;
}

.button-wrapper {
    flex-direction: column;
    width: 100%;
}

.feature-wrapper {
    margin-top: 1rem;
    display: flex;
    align-items: start;
    flex-direction: column;
}

#dropdown {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.laptop-description-container {
    max-width: 20rem;
}

.content-wrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: 100%;
}



